<!-- {% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block header %}
<div class="col-6 offset-3">
    <h1>User Profile</h1> -->
    <!-- {% comment %} <img src="{{ post.image_url }}" alt="img-fluid"> {% endcomment %} -->
</div>
<!-- {% endblock %}

{% block content %}
<div class="col mt-4">
    <div class="card text-center">
        <div class="card-body bg-light">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text">{{ user.username }}</p>
        </div>
    </div>
</div>
{% endblock %} -->