{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block header %}
<div class="col-6 offset-3">
    <img src="{{ current_user.image_url }}" alt="img-fluid">
</div>
    <h1>{{ current_user.first_name }}'s Profile</h1>
{% endblock %}

{% block content %}
<div class="col mt-4">
    <div class="card text-center">
        <div class="card-body bg-light">
            <h3 class="card-title">{{ current_user.first_name }} {{ current_user.last_name }}</h3>
            <h5 class="card-text">{{ current_user.username }}</h5>
            <a href="{{ url_for('edituserprofile', user_id=user.id) }}" class="btn btn-secondary">Edit Profile</a>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Delete Profile</button>
            <!-- Modal for Delete Button -->
            <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete {{ user.username }}?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{ user.username }}? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a class="btn btn-danger" href="{{ url_for('delete_user', user_id=user.id) }}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <h5>About Me</h5>
            <p>Eventually will have a section for about me...</p>


        </div>
    </div>
</div>
{% endblock %}